[submodule "ref/DirectoryPackages"]
	path = ref/DirectoryPackages
	url = https://github.com/BeyondDimension/DirectoryPackages.git
[submodule "ref/SteamClient"]
	path = ref/SteamClient
	url = https://github.com/BeyondDimension/SteamClient
[submodule "ref/dotnet-packaging"]
	path = ref/dotnet-packaging
	url = https://github.com/quamotion/dotnet-packaging.git
[submodule "ref/WTTS.MicroServices.ClientSDK"]
	path = ref/WTTS.MicroServices.ClientSDK
	url = https://github.com/BeyondDimension/WTTS.MicroServices.ClientSDK.git
[submodule "ref/Common"]
	path = ref/Common
	url = https://github.com/BeyondDimension/Common.git
[submodule "ref/Avalonia8"]
	path = ref/Avalonia8
	url = https://github.com/BeyondDimension/Avalonia8
